<nav class="site-nav">
  <a href="#" class="site-nav__hamburger">&#9776;</a>

  <ul class="site-nav__items is-hidden">
    <li class="site-nav__item">
      <%= link_to "About", about_path, class: "site-nav__link" %>
    </li>
    <li class="site-nav__item">
      <%= link_to "Gallery", images_path, class: "site-nav__link" %>
    </li>
    <li class="site-nav__item">
      <%= link_to "Collection", collections_path, class: "site-nav__link" %>
    </li>
    <!-- <li class="site-nav__item">
      <%= link_to "Projects", projects_path, class: "site-nav__link" %>
    </li> -->
    <li class="site-nav__item site-nav__item--last">
      <%= link_to "Contact", contact_path, class: "site-nav__link" %>
    </li>
  </ul>
</nav>